
Padron_Desordenado_en_Cedula/Padron_Desordenado_en_Cedula/PADRON_COMPLETO.txt
Proyecto1B/PADRON_COMPLETO.txt
Proyecto1B/.vs/Proyecto1B/v17/ipch/AutoPCH/b090611ad72b8b96/LISTADENLAZADAVOTANTES.ipch
Proyecto1B/.vs/Proyecto1B/v17/ipch/AutoPCH/6e4494cc38b5ea08/LISTASIMPLEVOTANTES.ipch
Proyecto1B/.vs/Proyecto1B/v17/ipch/AutoPCH/9bf52d66ae1d40de/MAIN.ipch
Proyecto1B/.vs/Proyecto1B/v17/ipch/AutoPCH/9bf52d66ae1d40de/MAIN.ipch
